<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/explore/explore.css" />
    <script src="/scripts/setting.js" defer></script>
    <title>XOXOXO | My blog</title>
  </head>
  <body>
    <%- include('includes/navigation.ejs') %> <%- include('includes/menu.ejs')
    %>
    <main>
      <h1>Welcome!</h1>
      <% if (numberOfMatches === 0) { %>
      <p class="explore-intro" id="no-game">
        Unfortunately, you have no matches to share, play some games or add
        existing matches to your diary
      </p>
      <% } else { %>
      <p class="explore-intro">
        We have found
        <span id="numberOfMatches"><%= numberOfMatches %></span> diaries in your
        XOXOXO blog
      </p>
      <form action="/explore" method="GET">
        <input type="hidden" value="<%= nextOrder %>" name="order"> 
        <button class="btn">Change order</button>
      </form>
      <ul id="diaries-list">
        <% for (const diary of diaries) { %> <%-
        include('includes/diary/diary-item.ejs', { diary : diary }) %> <% } %>
      </ul>
      <% } %>
      <a class="add-diary" href="/connect">Add more XOXOXO diaries</a>
    </main>
  </body>
</html>
