<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/explore/explore.css" />
    <link rel="stylesheet" href="/invited-player/invited-player.css" />
    <script src="/scripts/setting.js" defer></script>
    <title>XOXOXO | <%= diary.matchName %></title>
  </head>
  <body>
    <%- include('includes/navigation.ejs') %> 
    <%- include('includes/menu.ejs')%>
    <main>
      <article class="diary-item">
        <h2 class="match-name-display"><%= diary.matchName %></h2>
        <div class="players-name-display">
          <p>Main player: <span><%= diary.mainNickname %></span></p>
          <p>Invited player: <span><%= diary.opponentNickname %></span></p>
        </div>
        <p class="winner-display"><span><%= diary.winner %></span> won the game</p>
        <h2 class="comment">Main player's comment</h2>
        <p class="description"><%= diary.describe %></p>
      </article>
      <a class="add-diary" href="/explore">Back</a>
    </main>
  </body>
</html>
