<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/explore/explore.css" />
    <link rel="stylesheet" href="/invited-player/invited-player.css" />
    <script src="/scripts/setting.js" defer></script>
    <title>XOXOXO | My blog | <%= diary.matchName %></title>
  </head>
  <body>
    <main>
      <article class="diary-item">
        <h2 class="match-name-display"><%= diary.matchName %></h2>
        <p class="date">
          Last updated at
          <span class="date-display"
            ><%= diary.date.toLocaleDateString() + " " +
            diary.date.toLocaleTimeString() %></span
          >
        </p>
        <div class="players-name-display">
          <p>Main player: <span><%= diary.mainNickname %></span></p>
          <p>Invited player: <span><%= diary.opponentNickname %></span></p>
        </div>
        <h2 class="result">Match result:</h2>
        <p class="winner-display">
          <span><%= diary.winner %></span> won the game
        </p>
        <h2 class="comment">Match description:</h2>
        <p class="description"><%= diary.describe %></p>
        <img
          class="match-image"
          src="/<%= diary.imagePath %>"
          alt="Match photo"
        />
      </article>
      <div class="button-each-diary">
        <a class="add-diary" href="/explore">Back to Blog</a>
        <a
          class="add-diary"
          id="comment-on-diary"
          href="/explore/<%= diary._id %>/comment"
          >Comment</a
        >
      </div>
      <section class="comment-users">
        <h2>Comments (<%= comments.length %>)</h2>
        <hr />
        <ul id="comment-list">
          <% for (const comment of comments) { %> <%-
          include('includes/comment/comment-item.ejs', { comment : comment }) %>
          <% } %>
        </ul>
      </section>
    </main>
  </body>
</html>
