<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/connect/connect.css" />
    <script src="/scripts/setting.js" defer></script>
    <script src="/connect/connect.js" defer></script>
    <title>XOXOXO | My blog | <%= diary.matchName %> | Update</title>
  </head>
  <body>
    <main>
      <article class="body-with-no-menu">
        <h2 class="update-diary-matchName"><%= diary.matchName %></h2>
        <form
          action="/explore/<%= diary._id %>/edit"
          method="POST"
          id="share-diary"
        >
          <div class="get-information">
            <label for="matchName">Edit match title (not more than 20 characters):</label>
            <ul>
              <li>
                <input
                  type="text"
                  id="matchName"
                  name="matchName"
                  maxlength="20"
                  value="<%= diary.matchName %>"
                  required
                />
              </li>
              <li>
                <span class="charcounts">
                  <span id="remaining-chars-matchName">20</span>/20
                </span>
              </li>
            </ul>
          </div>
          <div class="get-information">
            <label for="describe" id="describe-label">Edit match description:</label>
            <textarea id="describe" name="describe" required rows="10"><%= diary.describe %></textarea>
          </div>
          <div id="button-update">
            <button type="submit" id="confirm">Update diary</button>
            <a href="/explore" id="cancel">Cancel</a>
          </div>
        </form>
      </article>
    </main>
  </body>
</html>
